/* .toggleList{
  border: 1px solid red;
} */

.inner {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.inner:hover .tag{
  color: #000000;

}

.tag{
  color: hsl(0, 0%, 41%);
}



.innerList {
  list-style: none;
  opacity: 0;
  padding-left: 1rem;
  animation-name: identifier;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes identifier {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}

.innerList li {
  margin: 1rem 0;
  display: flex;
  gap: 0.8rem;
}

@media screen and (min-width: 800px) {
  .inner {
    margin: 1rem 0;
    gap: 0.5rem;
  }

  .innerList {
    position: absolute;
    padding: 0;
    right: 0;
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px hsla(0, 0%, 8%, 0.422);
  }
}
