.modalContainer{
  transform: translateX(100%);
  /* overflow: hidden; */
  animation-name:move_left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes move_left {
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(0);
  }
}

.modal {
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #fafafa;
  width: 70%;
  color: #696969;
}

.disabled{
  display: none;
  transform: translateX(100%);
}

.closeMenuContainer {
  display: flex;
  justify-content: right;
}

.navList {
  margin: 1rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.loginBtn {
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  background: none;
}

.registerBtn {
  padding: 0.5rem 3rem;
  margin: 3px 0;
  border-radius: 10px;
  background: none;
  border: 1px solid #141414;
}

@media screen and (min-width:800px) {
  .modalContainer{
    display: none;
  }
  .disabled{
   display: none;
  }
}
