.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.726);
  height: 100vh;
  width: 100%;
  top: 0;
  transform: translateX(0);
  opacity: 0;
  animation-name: animate;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes animate {
    0%{
        opacity: 0;
    } 

    100%{
        opacity: 1;
    }
}


@media screen and (min-width:800px) {
    .overlay{
        display: none;
    }
}
