.header {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}

.desktop--navBar {
  display: none;
}

@media screen and (min-width: 800px) {
  .desktop--navBar {
    margin-left: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header {
    gap: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .desktop--navList {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .desktop--navList li {
    list-style: none;
    position: relative;
  }

  .buttonContainer {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;
  }

  .loginBtn {
    background: none;
    border: none;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
  }

  .loginBtn:hover {
    color: #000000;
  }

  .registerBtn {
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 8%, 0.647);
  }

  .registerBtn:hover {
    border: 2px solid #000000;
    color: #000000;
  }

  .tag{
    color: hsl(0, 0%, 41%);
    cursor: pointer;
  }
  .tag:hover{
    color: #000000;
  }
}
