
@media screen and (min-width:800px) {
    .mainContent{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}